<div class="container">
  <div class="row">
    <div class="col text-center mt-3">
      <img src="img/1.JPG" alt="Rafly" class="img-thumbnail rounded-circle" width="200" />
      <h1 class="display-4">Rafly Adhyra</h1>
      <p class="lead">Backend Programmer</p>
    </div>
  </div>
</div>
