<h1>Aplikasi Kontak Sederhana</h1>
<h2>Hallo <%= nama %></h2>
<h4>Ini adalah aplikasi pengelola kontak sederhana menggunakan javascript dengan framework :</h4>
<ul>
  <li>NodeJs</li>
  <li>ExpressJS</li>
  <li>Bootstrap</li>
</ul>
